<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
  <div class="col-md-12 text-center">
    <small>
      <div class="row">
        <div class="col-md-12">
          <div class="help-block margin-top-40 text-left">
            1. Administratorem danych osobowych Użytkowników będącymi osobami fizycznymi,
            zgodnie z ustawą z dnia 29 sierpnia 1997 roku o ochronie danych osobowych jest EVENEM Sp. z o.o. z siedzibą w Mysłowicach 41-400, ul. Obrzeżna Północna 17.
            <br/>2. Dane osobowe są przetwarzane przez EVENEM Sp. z o.o. zgodnie z przepisami ustawy z dnia 29 sierpnia 1997 roku o ochronie danych osobowych oraz ustawy z dnia 18 lipca 2002 roku o świadczeniu usług drogą elektroniczną.
            <br/>3. EVENEM Sp. z o.o. przetwarza dane osobowe w celach związanych z nawiązaniem, ukształtowaniem treści, zmiany lub rozwiązania stosunku prawnego oraz w zakresie niezbędnym do prawidłowego świadczenia usług i korzystania z konta rejestrowanego w portalu www.evenem.pl.
            <br/>4. Użytkownik otrzymywać będzie informacje marketingowe i handlowe wyłącznie w przypadku gdy wyrazi na to zgodę.
            <br/>5. Użytkownik ma umożliwione przez EVENEM Sp. z o.o. prawo dostępu do gromadzonych własnych danych osobowych, prawo ich poprawiania, prawo do kontroli przetwarzania własnych danych osobowych na zasadach przewidzianych w obowiązujących przepisach prawa, prawo do wniesienia pisemnego żądania zaprzestania przetwarzania danych osobowych oraz prawo wniesienia sprzeciwu wobec przetwarzania danych w celach marketingowych.
            <br/>6. EVENEM Sp. z o.o. chroni dane osobowe Użytkowników przed ich udostępnieniem osobom nieupoważnionym,
            w tym także przed innymi przypadkami ujawnienia tych danych, bądź ich utraty i bezprawną modyfikacją.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="help-block">

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="help-block">

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="help-block">

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="help-block">

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="help-block">

          </div>
        </div>
      </div>
    </small>
  </div>
</div>
