.error {
  color: #a94442 !important;
}

.normal {
  color: #333 !important;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.margin-top-40 {
  margin-top: 10px;
}

.panel-event {
  border-radius: 0px;
}

.panel-event input, button {
  border-radius: 0px;
}

.panel-event textarea {
  border-radius: 0px;
  resize: vertical;
}

.panel-event h4 {
  font-family: 'latin', sans-serif;
}

.panel-event .control-label {
  font-family: 'Lato';
}

.panel-event .with-errors {
  font-size: 12px;
}

