<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-event">
      <div class="panel-body" style="padding-left: 40px">
        <div class="row">
          <div class="col-md-5">
            <h4>Miejsce:</h4>
          </div>
          <div class="col-md-6">
            <h4>{{event?.city}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>Cena:</h4>
          </div>
          <div class="col-md-6">
            <h4>{{event?.price ? event?.price + ' zł' : ''}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
