body {
  background: #E6E6E6;
  font-family: 'Lato', sans-serif;
}

.panel-event {
  border-radius: 0px;
}

.panel-event input, button {
  border-radius: 0px;
}

.panel-event .btn {
  border-radius: 0px;
}

.panel-event textarea {
  border-radius: 0px;
  resize: vertical;
}

.panel-event h4 {
  font-family: 'latin', sans-serif;
}

.panel-event .control-label {
  font-family: 'Lato';
}

.panel-event .with-errors {
  font-size: 12px;
}

.success-msg h2 {
  margin-bottom: 20px !important;
}

.failure-msg h2 {
  margin-bottom: 20px !important;
}

.heigth-100-percent {
  height: 100%;
}

.margin-top-6 {
  margin-top: 6%;
}

.align-image {
  margin-left: auto;
  margin-right: auto;
}


