<div class="row" [hidden]="(isRunning | async)">
    <div class="col-md-12">
      <ul class="event-list">
        <li>
          <time>
            <span class="day">{{event?.date.format('DD')}}</span>
            <span class="month">{{event?.date.format('MMM')}}</span>
            <span class="year">{{event?.date.format('YYYY')}}</span>
            <span class="time">ALL DAY</span>
          </time>
          <img alt="" src="assets/img/conference.gif">
          <div class="info">
            <h2>{{event?.title}}</h2>
            <div [innerHTML]="event?.description"></div>
          </div>
          <div class="social">
            <ul>
              <li class="facebook" style="width:33%;">
                <a href="http://facebook.com"><span class="fa fa-facebook"></span>
                </a>
              </li>
              <li class="twitter" style="width:34%;">
                <a href="http://twitter.com"><span class="fa fa-twitter"></span>
                </a>
              </li>
              <li class="google-plus" style="width:33%;">
                <a href="http://plus.google.com"><span class="fa fa-google-plus"></span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

